# Allow pulling various binaries without root
# (cause we're awesome like that)

allow adbd location_exec:file r_file_perms;
allow adbd perfd_exec:file r_file_perms;
allow adbd sensors_exec:file r_file_perms;
allow adbd tee_exec:file r_file_perms;
allow adbd time_daemon_exec:file r_file_perms;
